odm-report/src/main/resources/schema/controlled-terminology-m11/controlledterminology-m11-ns.xsd

<?xml version="1.0" encoding = "UTF-8"?>
<xs:schema targetNamespace = "http://ncicb.nci.nih.gov/xml/odm/EVS/ICH"
        xmlns:xs = "http://www.w3.org/2001/XMLSchema"
        xmlns:odm = "http://www.cdisc.org/ns/odm/v1.3"
        xmlns:ich = "http://ncicb.nci.nih.gov/xml/odm/EVS/ICH"
        elementFormDefault = "qualified" attributeFormDefault = "unqualified">

  <!--
      ICH M11 controlled-terminology-m11-ns schema
  -->

    <xs:import namespace = "http://www.w3.org/1999/xlink"     schemaLocation = "../core/xlink.xsd"/>
    <xs:import namespace = "http://www.cdisc.org/ns/odm/v1.3" schemaLocation = "../foundation/ODM1-3-2-foundation.xsd"/>

    <xs:element name="ICHDefinition" type="ich:ICHsimpleTypeDefinition-ICHDefinition" />
    <xs:element name="ICHSubmissionValue" type="ich:ICHsimpleTypeDefinition-ICHSubmissionValue" />
    <xs:element name="ICHSynonym" type="ich:ICHsimpleTypeDefinition-ICHSynonym" />
    

    <xs:simpleType name="ICHsimpleTypeDefinition-ICHDefinition">
        <xs:restriction base="odm:text" />
    </xs:simpleType>
    
    <xs:simpleType name="ICHsimpleTypeDefinition-ICHSubmissionValue">
        <xs:restriction base="odm:text" />
    </xs:simpleType>
    
    <xs:simpleType name="ICHsimpleTypeDefinition-ICHSynonym">
        <xs:restriction base="odm:text" />
    </xs:simpleType>
        
</xs:schema>
